[submodule "SliceGPT"]
	path = compression/pruning/TransformerCompression
	url = https://github.com/ryan-ott/TransformerCompression.git
[submodule "compression/finetuning/ALMA"]
	path = compression/finetuning/ALMA
	url = https://github.com/ryan-ott/ALMA.git
